/* COLORS I LIKE */

/*

body {
    background: #181818;
}


section.about a {
    color: #b4a892!important;
}


p {
    color: #d7d7d7;
}


section.contact {
    background-color: #d7d7d7;
}


.button {
	color: #4f4e4b;
}


.logo {
	color: #d6d6d6;
}


.header h1 {
	color: #d7d7d7;
}


*/




body{
	font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #181818;
}

.uppercase{
	text-transform: uppercase;
}
/*navbar*/
.navbar-brand{
	font-size: 35px;
	color:#fff;

}
.navbar-brand span{
	font-weight: bold;
	color: #d7d7d7;
}

.navbar-inverse .navbar-nav>li>a:hover{
    font-size: 20px;
    color: #d7d7d7;
}

/*header*/
.header{
	
	background: url("../img/art-black-background-blur-1040499 (1).jpg") no-repeat top center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position:relative;
	height:100vh ;
	color:#fff;
  overflow: hidden;
	}





.header .overlay{
	padding-top: 100px;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}


	
.header h1{
	font-weight: normal;
	font-size: 70px;
	color: #d7d7d7;
	text-align: center;
}

@media(max-width: 991px){
  .header h1{
  margin-top: -31px;
  font-size: 40px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
}

.header p {
	color: #b4a892;
}

.header h1 span{
	color: #d7d7d7;
	text-align: center;
  font-family: Arial;
} 


@media(max-width: 991px){
	.header h1 span{
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}

.header h1~.lead{
	font-size: 30px;

}

@media(max-width: 991px){
  .header h1~.lead{
	font-size: 20px;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
}

.header h1~.lead:after{
	content: '';
	width: 60px;
	height: 3px;
	background-color:#fff;
	display: none;
	margin-top: 30px;
	margin-bottom: 30px;
}



@media (max-width: 991px){
 .header h1~.lead:after{
  margin:20px auto;
 }
}

.header button{
	background:transparent;
	padding:10px 20px;
	border:3px solid #fff;
	margin-top: 30px; 
}

@media (max-width: 991px){
  .header button{
  display: block;
  margin: 15px auto;
}
}


.header .header-text {
	margin-right: 0px;
	margin-top: 200px;
}

/*start about*/
.about{
	background: #181818;
	padding-top: 120px;
	padding-bottom: 60px;
}


.about .col-lg-6 ,.col-md-6{
	width: 50%;
}

.about .image .special{
	margin-top: 100px;
}

@media(max-width:991px){
	.about .special {
		margin-top: 0px;
		width: 50%%;
		margin-right: 25%;
		margin-left:25%;
}
}

@media(max-width:767px){
	.about .special {
		margin-top: 0px;
		width: 90%%;
		margin-right: 5%;
		margin-left: 5%;
}
}

.about .disable {
	width: 33.3333%;
}

@media(max-width:991px){
	.about .special {
		width: 50%%;
		margin-right: 25%;
		margin-left:25%;
}
}

@media(max-width:991px){
	.about .disable {
		display: none;
		width: 33.3333%;
	}
}


@media(max-width:991px){
	.about .col-lg-6 ,.col-md-6{
		width: 100%;
		margin-top: 120px;
		margin-bottom: 120px;
	}
}



@media(max-width:991px){
	.about .skills {
		text-align: center;
		margin-top: 60px;
	}
}


@media(max-width:767px){
	.about .col-lg-6 ,.col-md-6{
		width: 100%;
		margin-top: 120px;
		margin-bottom: 120px;
	}
}



@media(max-width:767px){
	.about .skills {
		text-align: center;
		margin-top: 60px;
	}
}

.about h2 {
	color: #b7b7b7;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	font-transform: uppercase;
}

.about p {
	margin-top: 30px;
	color: #b4a892;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: center;
}


.about a {
	color: #b7b7b7;
}

/*start hover on image*/
.about .text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about .text i {
  margin-left: 25%;
  margin-right: 25%;
  color: #ad5050;
}

.about .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}
.about .image:hover .overlay{
  opacity: 1;
}

@media (max-width: 991px){
	.about .overlay {
	    width: 90%;
	    margin-right: 5%;
	    margin-left: 5%;
	    margin-top: 480px;
	    margin-bottom: -50px;
	}
}

@media (max-width: 767px){
	.about .overlay {
	    width: 90%;
	    margin-right: 5%;
	    margin-left: 5%;
	    margin-top: -20px;
	    margin-bottom: -20px;
	}
}

@media (max-width: 520px){
  .about .overlay {
      width: 95%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-top: -20px;
      margin-bottom: -20px;
  }
}

/*end hover on image*/


.about h1 {
	margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    margin-left: 38px;
    color: #b7b7b7;
}

.about  ul {
    margin-top: 0px;
    margin-bottom: 10px;
    list-style: none;
    color: #b4a892;
    font-size: 20px;
}

.about .icons{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

@media (max-width: 991px){
  .about .icons{
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}
}

@media (max-width: 767px){
  .about .icons{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
}

.about .fa {
    float: left;
    font-size: 2em;
    width: 70px;
    height: 70px;
    line-height: 66px;
    text-align: center;
    color: #999;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
    margin: 0px -32px 0 -4px;
    margin-left: 20px;
}

@media (max-width: 580px){
  .about .fa {
    font-size: 1.4em;
    margin-top: 15px;
    margin: 0px -40px 0 -4px;
    margin-left: 10px;
}
}

.about .fa:hover{
	color: transparent;
}


/*START SKILLS*/
.skills-bar p {
    margin: 0 10px 10px;
    padding-top: 10px;
}


.skills-bar {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #d7d7d7;
}

.skills-bar h1 {
  margin-bottom: 100px;
  font-size: 40px;
  text-align: center;
}

.skills-bar .container {
  width: 80%;
  background-color: #d7d7d7;
}


.skills-bar .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

.skills-bar .html {
  width: 90%; 
  background-color: black;
  border-radius: 25px;

}
.skills-bar .css {
  width: 80%; 
  background-color: black;
  border-radius: 25px;
}
.skills-bar .wordpress {
  width: 95%; 
  background-color: black;
  border-radius: 25px;
}
.skills-bar .bootstrap {
  width: 80%; 
  background-color: black;
  border-radius: 25px;
}



/*what we can do*/
.facilities{
  padding: 150px 0px;
  background-color: #181818;
}
.facilities .col-md-4{
  margin-bottom: 50px;
}
@media(max-width:991px){
  .facilities .col-md-4{
    text-align: center;
    width: 50%;
    float: left;
    margin-right: auto;
    margin-right: auto;
  }
}
@media(max-width:767px){
  .facilities .col-md-4{
    text-align: center;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.facilities .header-line-center:after{
  margin-bottom: 100px;
}
.facilities p{
  color: #d7d7d7;
}
.facilities .main-paragraph{
  margin-bottom: 50px;
}

/*start aweasom*/

.aweasom{
  padding: 150px 0px;
  background-color: #181818;
}

.aweasom .h1{
  font-size: 40px;
  color: #b7b7b7;
}

.header-line-center:after{
  content: '';
  width: 60px;
  height: 3px;
  background-color:#b4a892;
  display: block;
  margin:30px auto;
   }


.aweasom .main-paragraph{
  margin-bottom: 70px;
}


.aweasom i{
      font-size: 60px;
      width: 70px;
      height: 70px;
      line-height: 66px;
      text-align: center;
      color: #d7d7d7;
      border-radius: 50%;
      
    }


.aweasom .bransh-header{
  margin:30px 30px;
  font-weight: bold;
  color: #b7b7b7;
}


.aweasom p{
  color: #777;
}


.aweasom button {
    background: #b4a89200;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-top: 30px;
    color: #d7d7d7;
    border-radius: 0px;
    font-weight: bold;
}

.aweasom button:hover{
	background: #d7d7d7;
	color: #b4a89200;
}

@media (max-width: 991px){
  .aweasom button{
  display: block;
  margin: 15px auto;
}
}


/*start counter*/
.counter {
  padding-top: 0px;
  padding-bottom: 200px;
  background-color: #d7d7d7;
}

/* stylish h1 for every div*/
.counter .h1{
  font-size: 40px;
  padding-top: 100px;
}
.counter .header-line-center:after{
  margin-bottom: 100px;
}
/*end stylish h1 for every div*/
.counter .col-md-3 {
  float: left;
  width: 25%;
  padding: 0 5px;
}
@media screen and (max-width: 600px) {
  .counter .col-md-3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.counter .row {
  margin: 0 -5px;
}
/* Clear floats after the columns */
.counter .row:after {
  content: "";
  display: table;
  clear: both;
}
/* end Clear floats after the columns */

.counter .fa {
  font-size: 6em;
}
.counter h3 {
  margin-bottom: 30px
}

.counter .card{
  padding: 50px;
  text-align: center;
  background-color: #181818;
  color: #d7d7d7;
}
.counter .card:hover {
  background-color: #50e5ff00;
  color: #000;
}


/*start hover on counter*/
.gallery .text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.gallery .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #50e5ff;
}
.gallery .image:hover .overlay{
  opacity: 1;
}
/*end hover on image*/

/*START GALLERY*/
.gallery{
  margin-bottom: 100px;
  padding: 80px 0;
  background-color: #181818;

}
.gallery .h1{
  text-align: center;
  font-size: 40px;
  color: #ccc;
}
.gallery .main-paragraph{
  text-align: center;
  color: #7e7e7e;
}
.gallery .main-paragraph{
  margin: 0 0 94px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 94px;
  margin-left: 0px;
}
.gallery .col-md-6 {
    width: 50%;
}
@media(max-width: 991px){
  .gallery .col-md-6 {
      width: 100%;
      margin-bottom: 20px;
  }
}
.gallery .row {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

@media(max-width: 991px){
  .gallery .row {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
  }
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
}

@media(max-width: 991px){
  .gallery img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 991px){
  .gallery .col-md-3 {
    width: 100%;
  }
}
@media(max-width: 991px){
  .gallery .row {
    margin-top: 0px;
  }
}

.gallery .overlay-stable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    right: 0px;
    width: 95%;
    opacity: 1; 
    transition: .5s ease;
    background-color: #0000007d;
}

@media(max-width: 991px){
  .gallery .overlay-stable {
    width: 97%;
  }
}


/*start hover on image*/
.gallery .text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery .text span {
  color: #ebebeb;
}

.gallery .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}
.gallery .image:hover .overlay{
  opacity: 1;
}

@media (max-width: 991px){
  .gallery .overlay{
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
}
/*end hover on image*/



/*start prices*/
.prices{
  background-color: #d7d7d7;
  padding-top: 150PX;
  padding-bottom: 150PX;
}

.prices h1 {
  text-align: center;
}

.prices .col-md-3{
  width: 33.333333%;
  float: left;
}

@media (max-width: 767px){
  .prices .col-md-3{
    width: 50%;
    float: left;
}
}

@media (max-width: 480px){
  .prices .col-md-3{
    width: 100%;
    float: left;
}
}

.prices .price-block {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    float: left;
    text-align: center;
    padding-bottom: 25px;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
}

.prices .price-price {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0px;
}

.prices .price-title {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #ebebeb;
}

.prices .price-title sup {
    font-size: 40px;
    top: -0.6em;
    padding-right: 3px;
    font-family: 'Montserrat', sans-serif;
}

.prices .price-col-4 .price-title span {
    font-size: 58px;
    font-weight: 700;
    font-family: 'Montserrat Bold', sans-serif;
}

.prices .price-title sub {
    font-size: 24px;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.prices sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}



.prices .price-block ul {
    position: relative;
    width: 100%;
    padding: 25px 0px;
    list-style: none;
}

.prices .price-col-4.price-block ul li {
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
}

.prices .price-block .btn-blank {
    border: 2px solid #171616;
    color: #171616;
}

.prices .btn-blank {
    font-size: 12px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
    text-transform: capitalize;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/*START MEETING*/
.meeting{
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.meeting .col-md-12{
  float: left;
}

.meeting .fa {
  color: #b4a892;
  font-size: 6em;
}

.meeting h1{
  color: #d7d7d7;
  padding-top: 20px;
}



.meeting .col-md-12 {
  max-width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: -80px;
  margin-top: 150px;
  text-align: center;
}

@media (max-width: 991px){
  .meeting .col-md-12{
    max-width: 100%;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}
}

@media (max-width: 767px){
  .meeting .col-md-12{
    max-width: 100%;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}
}

.meeting .icons i {
    padding: 20px 20px 0px;
    font-size: 2em;
}

.meeting .icons i:hover{
  color: transparent;
}


/*START FOOTER*/
.footer{
  background-color: #000000;
  color: #b4a892;
  padding: 20px;
  font-size: 20px;

}
.footer span{
  font-weight: bold;
  font-size: 21px;
}
.footer a{
  color: #b4a892;
}
